<h2>Change your password</h2>

<%= form_for :user, url: reset_path(@user.password_token), method: :patch do |f| %>
  <%= f.label :password %>
  <%= f.text_field :password, autofocus: true, type: "password" %>
  <%= f.submit "Reset Password" %>
<% end %>
