<% @food.comments.reverse.each do |comment| %>
  <% if comment.image != '' && comment.image != nil %>

    <a href='<%=comment.image%>' target='_blank'><img src="<%=comment.image%>" alt='picture of food' width='150px'/></a>

  <% end %>
<% end %>
