<% @food.comments.reverse.each do |comment| %>
  <% if comment.image != '' && comment.image != nil %>
    <div class="col-md-1">
      <img src="<%=comment.image%>" alt='picture of food' />
    </div>
  <% end %>
<% end %>
