<div class="col-md-12 test">
  <% @food.each do |food| %>
    <%= food.name %>
    <br/>
    <%= food.name %>
    <%= food.description %>
    <%= link_to 'food.restaurant.name', restaurant_path %>
  <% end %>
</div>
