<div class="col-md-12 test">
  <% @food.each do |food| %>
    <h3><%= food.name %></h3>
    <blockquote>
      <% if food.description == '' || food.description == nil || food.description == ' '%>
        <p>No description found.</p>
      <% else %>
        <p><%= food.description %></p>
      <% end %>
      <footer><%= link_to food.restaurant.name, food_restaurant_path(food.id, food.restaurant_id)%></footer>
    </blockquote>
  <% end %>
</div>
