<%= render 'errors' %>
<div class="col-md-12 test">
  <%= render 'food_description', food_leader: "" %>
</div>
<div class="col-md-4">
  <%= render 'comments_display' %>
</div>
<div>
  <%= render 'new_comment_form' %>
</div>
