body {
  padding-bottom: 5%;
  background-color: #DDD1B9;
}

pre {
  background-color: #FCF7E4;
  font-family: 'Helvetica Neue';
  font-size: 14px;
  border-color: #B5B853 #B5B853 #B5B853 #484D56;
  border-width: 1px;
}

blockquote {
  border-color: #B5B853;
}

.comment-page-image {
  padding: 5px;
}

.links a {
  color: #484D56;
}

.edit {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 12px;
}

.comment-container.userpage {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 12px;
}

.edit {
  padding: 0px;
}

.profilepic {
  border-color: #B5B853 #B5B853 #B5B853 #484D56;
  border-width: 4px;
}

.content-container {
  padding-top: 90px;
  padding-bottom: 90px;
}

.stockPhoto {
  height: 50%;
  width: 50%;
  margin-bottom: 5%;
  border: 3px solid #B5B853;
}

.navbar {
  z-index: 25;
  background-color: #484D56;
  color: #4B8FAD;
}

#yelperLink, #loginLink, #logoutLink {
  background-color: #484D56;
  color: #4B8FAD;
}


#loginform, #signupform {
  border: 5px solid #484D56;
  border-radius: 5px;
  background-image: url(dish.png);
}

ul {
  list-style: none;
}

.ui-autocomplete {
  z-index: 99;
  background-color: rgba(252, 247, 228, 1);
  width: 146px;
  border: 1px solid #484D56;
  border-radius: 4px;
  color: #484D56;
}

.error {
  color: red;
}

input#yelperLink {
  height: 17%;
  width: 17%;
  border-bottom: 5px solid #484D56;
}

input#yelperLink:hover {
  border-bottom: 5px solid #B5B853;
}

#food_name {
  background-color: #FCF7E4;
  border: solid 2px #484D56;
  color: #484D56;
}

.btn-default {
  background-color: #E6E6E6;
}

.btn-default:hover {
  background-color: #B5B853;
}

.navbar-nav>a {
  color: #4B8FAD;
}

.btn-primary {

}

.comments {
  display: none;
}

.no-comments {
  font-size: 20px;
  color: #555;
}

a, .navbar-links {
 color: #4B8FAD;
}

.navbar-header {
  width: 100%;
}

#yelperLink {
  padding: 0;
  margin: 0;
  max-height: 50px;
  max-width: 132px;
}

#bs-example-navbar-collapse-1 {
  position: right;
}

.stars,
.stars li {
  display: inline;
}

.stars li {
  color: #eee;
  background: #F07455;
  padding: 2px;
  border-radius: 5px;
  margin: 2px;
}

.stars {
  margin-left: -20px;
}

.map {
  margin-top: -57px;
  border: 2.5px solid #4B8FAD;
}

img.food-image {
  border: 2.5px solid #4B8FAD;
  height: 150px;
  width: 175px;
  margin-top: 26px;
}

#myAccount {
  color: #B5B853;
  background-color: #484D56;
}

.navbar-default .navbar-nav>li>a {
  color: #B5B853;
}

.navbar-default:hover .navbar-nav>li>a:hover {
  color: #B5B853;
}

input[type="text"], input[type="password"], input[type="number"], textarea {
  background-color: #FCF7E4;
  color: #484D56;
}

input[type="submit"], button {
  background-color: #FCF7E4;
  color: #484D56;
  border-radius: 5px;
}

.ui-helper-hidden-accessible {
  display: none;
}


.individual-comment {
  padding: 15px 0 2px 0;
}



.individual-comment > li {
  margin-bottom: -5px;
}

.comment-container {
  font-size: 16px;
  margin-bottom: -35px;
}

.individual-comment > li {
  font-size: 16px;
  line-height: 24px;
}

.name-link {
  font-size: 16px;
}

#show-commnents {
  padding-right: 2px;
}

.new-comment {
  margin-left: -12px;
}

.comment-display {
  margin-top: 25px;
}
