body {
  padding-bottom: 1%;
  background-color: #DDD1B9;
}

.stockPhoto {
  height: 50%;
  width: 50%;
  margin-bottom: 5%;
  border: 3px solid #B5B853;
}

.navbar {
  background-color: #484D56;
  color: #4B8FAD;
}

#yelperLink, #loginLink, #logoutLink {
  background-color: #484D56;
  color: #4B8FAD;
}


#loginform, #signupform {
  border: 5px solid #484D56;
  border-radius: 5px;
  padding: 3px 3px 3px 3px;
}

ul {
  list-style: none;
}

.ui-autocomplete {
  background-color: rgba(252, 247, 228, 0.81);
  width: 146px;
  border: 1px solid #484D56;
  border-radius: 4px;
  color: #484D56;
}

.error {
  color: red;
}

input#yelperLink {
  height: 17%;
  width: 17%;
  border-bottom: 5px solid #484D56;
}

input#yelperLink:hover {
  border-bottom: 5px solid #B5B853;
}

#food_name {
  background-color: #FCF7E4;
  border: solid 2px #484D56;
  color: #484D56;
}

.btn-default {
  background-color: #E6E6E6;
}

.btn-default:hover {
  background-color: #B5B853;
}

.navbar-nav>a {
  color: #4B8FAD;
}

.btn-primary {

}

.comments {
  display: none;
}

.no-comments {
  font-size: 20px;
  color: #555;
}

#bs-example-navbar-collapse-1 {
  position: right;
}

#myAccount {
  color: #B5B853;
  background-color: #484D56;
}

.navbar-default .navbar-nav>li>a {
  color: #B5B853;
}

.navbar-default:hover .navbar-nav>li>a:hover {
  color: #B5B853;
}

